ion-content {
    --ion-background-color: white;
}

.emailColor {
    color: #ea7c7c;
}

.entrarColor {
    --background: #ec3434;
    --background-activated: #ec3434;
}

span {
    color: red;
    margin-left: 4.5%;
}

a {
    margin-left: 22.5%;
}


ion-card .card-content {
    --ion-background-color: white;
}
