<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <!-- Botão de voltar -->
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{petshop.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon [name]="isFavorite ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content">
    <ion-list lines="none">
      <ion-item *ngIf="petshop.downloadURL != null">
        <ion-label class="centerItem">
          <img [src]="petshop.downloadURL" style="max-width: 100%" *ngIf="petshop && petshop.downloadURL">
        </ion-label>
      </ion-item>
      <ion-item *ngIf="petshop.downloadURL == null">
        <ion-label class="centerItem">
          <img src="assets/imgs/PetshopDefault.png" >
        </ion-label>
      </ion-item>
      <ion-item *ngIf="petshop.stamp == 'stampgreen'">
        <img src="assets/icon/petRating1.png">
      </ion-item>
      <ion-item *ngIf="petshop.stamp == 'stampblue'">
        <img src="assets/icon/petRating3.png">
      </ion-item>
      <ion-item *ngIf="petshop.stamp == 'stampyellow'">
        <img src="assets/icon/petRating2.png">
      </ion-item>
      <ion-item *ngIf="petshop.stamp == 'stampred'">
        <img src="assets/icon/petRating4.png">
      </ion-item>
      <ion-item>
        Raça(s) 
        <ion-text> : {{petshop.dogType}}</ion-text>
      </ion-item>
      <ion-item>
        {{petshop.address}}
      </ion-item>
      <ion-item>
        <ion-label class="centerItem">
          Preço médio
          <ion-text>: R${{petshop.price}}</ion-text>
          </ion-label>
      </ion-item>
      <ion-item>
        {{petshop.rating}}
      </ion-item>
      <ion-item>
        <ion-label class="centerItem">
          Horário de funcionamento 
          <ion-text>: {{petshop.openingHours}}h - {{petshop.hourEnding}}h</ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="centerItem">
          <ion-text>{{petshop.contact}}</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
