<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      Botão de voltar
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pet Shops favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let petshop of favoritePetshops">
      <ion-label>{{ petshop.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
 -->
 <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botão de voltar -->
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-petshop *ngFor="let petshop of favoritePetshops" (click)="viewDetails(petshop)" [petshop]="petshop"></app-petshop>
    <!-- <ion-item *ngFor="let petshop of favoritePetshops" (click)="viewDetails(petshop)">
      <ion-label>
        <h2>{{ petshop.name }}</h2>
        <p>{{ petshop.address }}</p>
      </ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>
