<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botão de voltar -->
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pet Shops favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <app-petshop></app-petshop>
      <ion-item>
        <ion-label col="6">
          Pet shops fav 1
        </ion-label>
        <ion-label col="6">
          alguma coisa da petshop
        </ion-label>
      </ion-item>
      <ion-item>
        Pet shops fav 4
      </ion-item>
      <ion-item>
        Pet shops fav 3
      </ion-item>
      <ion-item>
        Pet shops fav 2
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
