<!-- <ion-item lines="none">
  <ion-thumbnail slot="start"> -->
    <!-- <img [src]="restaurant?.cover ? restaurant.cover : 'assets/imgs/img1.jpeg'"> -->
    <!-- <img src="./assets/imgs/PetshopDefault.png">
  </ion-thumbnail>
  <ion-label>
    <h4>Petshop 1</h4>
    <ion-text color="medium">
      <p class="pStyle">Aceitamos todos</p>
      <p>Av. Saldanha Marinho 3245</p>
      <span><ion-icon name="star"></ion-icon>
        5
      </span>
    </ion-text>
    <ion-text>
      <p class="distance">2.59 kms.</p>
    </ion-text>
  </ion-label>
</ion-item> -->

<ion-item (click)="editar(petshop)">
  <ion-thumbnail slot="start">
    <img [src]="petshop.downloadURL ? petshop.downloadURL : 'assets/imgs/PetshopDefault.png'">
  </ion-thumbnail>
  <ion-label>
    <h2>{{petshop.name}}</h2>
    <ion-text >
      <div class="dog-type-container">
        <ion-img class="stampsize" *ngIf="petshop.stamp == 'stampgreen'" src="assets/icon/petRating1.png"></ion-img>
        <ion-img class="stampsize" *ngIf="petshop.stamp == 'stampblue'" src="assets/icon/petRating3.png"></ion-img>
        <ion-img class="stampsize" *ngIf="petshop.stamp == 'stampyellow'" src="assets/icon/petRating2.png"></ion-img>
        <ion-img class="stampsize" *ngIf="petshop.stamp == 'stampred'" src="assets/icon/petRating4.png"></ion-img>
        <p style="margin-left: 2%; margin-top: 4%;" class="pStyle">{{petshop.dogType}}</p>
      </div>
      <ion-label color="medium">
        <div style="margin-left: 7%;">{{petshop.contact}}</div>
      </ion-label>
      <ion-label>  
        <span style="margin-left: 7%;"><ion-icon name="star"></ion-icon> 
          {{petshop.rating}}
        </span>
      </ion-label>
    </ion-text>
  </ion-label>
</ion-item>

<style>
  .dog-type-container {
    display: flex;
    align-items: center;
  }

  .stampsize {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
</style>
