<ion-item lines="none">
  <ion-thumbnail slot="start">
    <!-- <img [src]="restaurant?.cover ? restaurant.cover : 'assets/imgs/img1.jpeg'"> -->
    <img src="./assets/imgs/PetshopDefault.png">
  </ion-thumbnail>
  <ion-label>
    <h4>Petshop 1</h4>
    <ion-text color="medium">
      <p class="pStyle">Aceitamos todos</p>
      <p>Av. Saldanha Marinho 3245</p>
      <span><ion-icon name="star"></ion-icon>
        5
      </span>
    </ion-text>
    <ion-text>
      <p class="distance">2.59 kms.</p>
    </ion-text>
  </ion-label>
</ion-item>
