<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- cadastro de petshops -->
    <ion-title>Cadastro</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-toggle color="dark">Habilitar cadastro</ion-toggle> (ionChange)="habilitar()" -->
  <!-- <app-sections [formPetshop]="formPetshop" (submitForm)="submitForm()"></app-sections> -->
  
  <form  [formGroup]="formPetshop" (submitForm)="submitForm()"> <!-- (ngSubmit)="onSubmit()" -->
    <ion-list>
      <ion-item  class="ion-align-items-center"> <!-- ngModel => linka com as variaveis criadas na ts-->
        <ion-icon name="book-outline" style="margin-right: 5px; opacity: 0.47;"></ion-icon>
        <ion-label color="medium" class="ion-padding-end">Nome de Pet Shop:</ion-label>
        <ion-input type="string" formControlName="name"></ion-input>
      </ion-item>
      <!--Mensagem de Erro Titulo-->
      <!-- touched => verifica no q sai do input-->
      <span style="width: 10%; margin-left: 4%;" *ngIf="formPetshop.get('name')?.touched &&
      formPetshop.get('name')?.errors?.['required']" color="danger">Nome de Pet Shop é obrigatório</span><br/>
      
      <!--COLOCAR ISSO ABAIXO DENTRO DE UM SELECT COM O TIPO DE CARIMBO  -->
      <ion-item  class="ion-align-items-center"> <!-- ngModel => linka com as variaveis criadas na ts-->
        <ion-icon name="book-outline" style="margin-right: 5px; opacity: 0.47;"></ion-icon>
        <ion-label color="medium" class="ion-padding-end">Raça(s) canina(s):</ion-label>
        <ion-input type="string" formControlName="dogType"></ion-input>
      </ion-item>
      <!--Mensagem de Erro Titulo-->
      <!-- touched => verifica no q sai do input-->
      <span style="width: 10%; margin-left: 4%;" *ngIf="formPetshop.get('dogType')?.touched &&
      formPetshop.get('dogType')?.errors?.['required']" color="danger">Raça(s) canina(s) é obrigatório</span><br/>

      <ion-item  class="ion-align-items-center"> <!-- ngModel => linka com as variaveis criadas na ts-->
        <ion-icon name="book-outline" style="margin-right: 5px; opacity: 0.47;"></ion-icon>
        <ion-label color="medium" class="ion-padding-end">Endereço:</ion-label>
        <ion-input type="string" formControlName="address"></ion-input>
      </ion-item>
      <!--Mensagem de Erro Titulo-->
      <!-- touched => verifica no q sai do input-->
      <span style="width: 10%; margin-left: 4%;" *ngIf="formPetshop.get('address')?.touched &&
      formPetshop.get('address')?.errors?.['required']" color="danger">Endereço é obrigatório</span><br/>

      <ion-item  class="ion-align-items-center"> <!-- ngModel => linka com as variaveis criadas na ts-->
        <ion-icon name="book-outline" style="margin-right: 5px; opacity: 0.47;"></ion-icon>
        <ion-label color="medium" class="ion-padding-end">Contato:</ion-label>
        <ion-input type="string" formControlName="contact"></ion-input>
      </ion-item>
      <!--Mensagem de Erro Titulo-->
      <!-- touched => verifica no q sai do input-->
      <span style="width: 10%; margin-left: 4%;" *ngIf="formPetshop.get('contact')?.touched &&
      formPetshop.get('contact')?.errors?.['required']" color="danger">Contato é obrigatório</span><br/>

      <!--COLOCAR UM "HORÁRIO DE FUNCIONAMENTO" ANTES DESSES ITENS -->
      <ion-item  class="ion-align-items-center"> <!-- ngModel => linka com as variaveis criadas na ts-->
        <ion-icon name="book-outline" style="margin-right: 5px; opacity: 0.47;"></ion-icon>
        <ion-label color="medium" class="ion-padding-end">Abertura:</ion-label>
        <ion-input type="number" formControlName="openingHours"></ion-input>
      </ion-item>
      <!--Mensagem de Erro Titulo-->
      <!-- touched => verifica no q sai do input-->
      <span style="width: 10%; margin-left: 4%;" *ngIf="formPetshop.get('openingHours')?.touched &&
      formPetshop.get('openingHours')?.errors?.['required']" color="danger">Horário de funcionamento é obrigatório</span><br/>

    <ion-item  class="ion-align-items-center"> <!-- ngModel => linka com as variaveis criadas na ts-->
      <ion-icon name="book-outline" style="margin-right: 5px; opacity: 0.47;"></ion-icon>
      <ion-label color="medium" class="ion-padding-end">Fechamento:</ion-label>
      <ion-input type="number" formControlName="hourEnding"></ion-input>
    </ion-item>
    <!--Mensagem de Erro Titulo-->
    <!-- touched => verifica no q sai do input-->
    <span style="width: 10%; margin-left: 4%;" *ngIf="formPetshop.get('hourEnding')?.touched &&
    formPetshop.get('hourEnding')?.errors?.['required']" color="danger">Horário de funcionamento é obrigatório</span><br/>

    <ion-item  class="ion-align-items-center"> <!-- ngModel => linka com as variaveis criadas na ts-->
      <ion-icon name="book-outline" style="margin-right: 5px; opacity: 0.47;"></ion-icon>
      <ion-label color="medium" class="ion-padding-end">Avaliação:</ion-label>
      <ion-input type="number" formControlName="rating"></ion-input>
    </ion-item>
    <!--Mensagem de Erro Titulo-->
    <!-- touched => verifica no q sai do input-->
    <span style="width: 10%; margin-left: 4%;" *ngIf="formPetshop.get('rating')?.touched &&
    formPetshop.get('rating')?.errors?.['required']" color="danger">Avaliação é obrigatório</span><br/>

    <ion-item  class="ion-align-items-center"> <!-- ngModel => linka com as variaveis criadas na ts-->
      <ion-icon name="book-outline" style="margin-right: 5px; opacity: 0.47;"></ion-icon>
      <ion-label color="medium" class="ion-padding-end">Preço:</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>
    <!--Mensagem de Erro Titulo-->
    <!-- touched => verifica no q sai do input-->
    <span style="width: 10%; margin-left: 4%;" *ngIf="formPetshop.get('price')?.touched &&
    formPetshop.get('price')?.errors?.['required']" color="danger">Preço é obrigatório</span><br/>

      <!-- <span *ngIf="formPetshop.get('anoPublicacao')?.dirty && formPetshop.get('anoPublicacao')?.errors?.['pattern']">Ano de Publicação deve ser numérico</span><br>
      <span *ngIf="formPetshop.get('anoPublicacao')?.dirty && formPetshop.get('anoPublicacao')?.errors?.['min']">Ano de Publicação deve ser positivo</span><br> -->
    </ion-list>
  </form>


  <ion-button expand="block" fill="outline" color="dark">
    <input type="file" (change)="uploadFile($event.target)" class="custom-file-input"/>
    Inserir imagem
  </ion-button>

  <ion-button expand="block" color="dark" (click)="cadastrar()">Cadastrar</ion-button>
</ion-content>

<!-- <ion-content>
  <ion-item  class="ion-align-items-center">
    <ion-icon name="calendar" style="margin-right: 5px; opacity: 0.47;"></ion-icon>      
    <ion-label color="medium" class="ion-padding-end inline ion-text-wrap">Data de publicacao:</ion-label>
    <ion-input type="date" minlength="4">
      <ion-datetime presentation="time"></ion-datetime>
    </ion-input>
  </ion-item>
  // <ion-datetime presentation="time"></ion-datetime>
</ion-content> -->
