<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Sumário</ion-title>
    </ion-toolbar>
  </ion-header> 

  <ion-content class="ion-padding">
    <ion-list lines="none">  
      <ion-item>
        <ion-thumbnail slot="start">
          <img class="pet-friendliness" src="./assets/icon/petRating1.png">
        </ion-thumbnail>
        <ion-label>
          <p>Aceitamos todos os tipos de raça.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img class="pet-friendliness" src="./assets/icon/petRating3.png">
        </ion-thumbnail>
        <ion-label>
          <p>Aceitamos todos, porém os descritos ao lado do carimbo possuem serviços limitados.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img class="pet-friendliness" src="./assets/icon/petRating2.png">
        </ion-thumbnail>
        <ion-label>
          <p>Aceitamos todos, exceto os descritos ao lado do carimbo.</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img class="pet-friendliness" src="./assets/icon/petRating4.png">
        </ion-thumbnail>
        <ion-label>
          <p>Sem informações conhecidas.</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="danger"> 
      <ion-icon class="user" name="person-circle-outline" (click)="GoToAccount()"></ion-icon>
      <ion-buttons slot="end">
        <ion-menu-button>
          <img class="petinfo" src="./assets/icon/petRating.png">
        </ion-menu-button>
      </ion-buttons>
      <ion-title>TosaPet</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" *ngIf="apiLoaded | async"> 
    <ion-list>
      <ion-item lines="none">
        <ion-label style="border-radius: 5%; width: auto; height: 40vh; margin-left: 2.2%;">
          <google-map
            height="100%"
            width="100%"
            [center]="center"
            [zoom]="zoom">
            <map-marker [position]="center"></map-marker>
          </google-map>
        </ion-label>
      </ion-item>
      <ion-item-group>
        <ion-card> <!--style="padding-top: 5vh;"-->
          <app-searchbar (ionChange)="PetshopFilter($event)"></app-searchbar>
          <ion-list>
            <app-petshop *ngFor="let petshop of lista_Petshops" (click)="GoToDetails(petshop)" [petshop]="petshop"></app-petshop>
            </ion-list>
        </ion-card>
      </ion-item-group>
    </ion-list>  
  </ion-content>
</div>

